# Application Configuration
SERVER_PORT=9096
SPRING_R2DBC_URL=r2dbc:postgresql://<host>:<port>/<database>?sslmode=require
SPRING_R2DBC_USERNAME=<username>
SPRING_R2DBC_PASSWORD=<password>

# API Gateway (laboratorio Vallegrande)
GATEWAY_URL=https://lab.vallegrande.edu.pe/sigrc/gateway
