# Application Configuration
SPRING_PROFILES_ACTIVE=docker
SPRING_DATASOURCE_URL=jdbc:postgresql://ep-falling-dew-aq2lg9wv-pooler.c-8.us-east-1.aws.neon.tech/consultation?sslmode=require&channel_binding=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=npg_JobSPW0hn4Bp
SPRING_JPA_HIBERNATE_DDL_AUTO=update
